<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table *ngIf="dataLoaded == true" class="table">
    <thead>
      <tr>
        <th>Marka</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Kiralama Tarihi Başlangıcı</th>
        <th>Kiralama Tarihi Sonu</th>
      </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
      <td>{{ rental.brandName }}</td>
      <td>{{ rental.firstName }}</td>
      <td>{{ rental.lastName }}</td>
      <td>{{ rental.rentDate }}</td>
      <td>{{ rental.returnDate }}</td>
    </tr>
  </table>
  
